@media all and (max-width:30em){


/*LAYOUT*/

div.app_layout{
padding:3em 0;
font-size:112.5%;
}



/*OVERLAYS*/

div.overlay_inner{
padding:2em 0;
}



/*ITEM LIST*/

li.list_item{
padding:1em 0.5em;
border-top:1px solid lightgrey;
}
li.item_divider{
border-top:0.25em solid lightgrey;
}
span.item_date{
display:none;
visibility:visible;
float:none;
margin:0 auto;
}
li.item_divider span.item_date{
display:block;
}
span.item_short_date{
display:none;
visibility:visible;
float:none;
height:auto;
width:auto;
line-height:normal;
margin:0.25em -0.5em 1em -0.5em;
padding:0 0 1em 0;
text-align:center;
border-bottom:1px solid lightgrey;
}
li.item_divider span.item_short_date{
display:block;
}



/*ITEM LIST - SEARCH RESULTS*/

ul.list_items.filtered li.filtered_divider span.item_date,
ul.list_items.filtered li.filtered_divider span.item_short_date{
display:block;
}



/*ITEM LIST - TOGGLE*/

div.list_page.list_toggled li.list_item.pending,
div.list_page.list_toggled li.list_item.submitted,
div.list_page.list_toggled li.list_item.filtered.pending,
div.list_page.list_toggled li.list_item.filtered.submitted{
display:none;
}
div.list_page.list_toggled span.toggle_show{
display:inline-block;
}
div.list_page.list_toggled li.toggled_divider span.item_date,
div.list_page.list_toggled li.toggled_divider span.item_short_date{
display:block;
}



/*ITEM LIST - MAP*/

ul.directions_list{
padding:0;
}
li.directions_step{
padding:1em;
}
span.directions_distance{
right:1em;
}



/*ITEM FORM - NOTES*/

li.note_item{
padding:1em 0.5em;
}



}




@media all and (max-width:20em){


/*LAYOUT*/

div.app_layout{
font-size:100%;
}



}
